[run]
omit =  
    */site-packages/*
[report]
omit = 
    */kriging/*
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/plugins/xunit.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/plugins/multiprocess.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/plugins/base.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/inspyred/ec/analysis.py 
