[run]
omit =  
    */site-packages/numpy/*
    */site-packages/nose/*
    */site-packages/scipy/*
    */site-packages/*
    */site-packages/inspyred/*
    */site-packages/py/*
    */site-packages/_pytest/*
    *__init__*   
[report]
omit = 
    */kriging/*
