[run]
omit =  
    */site-packages/*
[report]
omit = 
    */kriging/*
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/plugins/xunit.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/plugins/multiprocess.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/plugins/base.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/inspyred/ec/analysis.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/plugins/doctests.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/plugins/cover.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/inspyred/ec/archivers.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/sparse/linalg/isolve/lsqr.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/optimize/_lsq/trf.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/optimize/_linprog.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/sparse/linalg/isolve/lsmr.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/misc/pilutil.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/sparse/linalg/isolve/minres.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/optimize/_lsq/bvls.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/plugins/isolate.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/optimize/_numdiff.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/optimize/optimize.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/lib/arraypad.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/inspyred/ec/utilities.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/optimize/linesearch.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/linalg/decomp_cholesky.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/sparse/lil.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/lib/financial.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/inspyred/ec/variators/mutators.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/core/arrayprint.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/optimize/_differentialevolution.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/sparse/coo.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/_pytest/assertion/rewrite.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/sparse/dok.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/plugins/manager.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/_pytest/terminal.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/plugins/failuredetail.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/lib/polynomial.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/sparse/bsr.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/polynomial/polynomial.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/optimize/_lsq/lsq_linear.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/sparse/sputils.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/misc/doccer.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/sparse/data.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/_pytest/mark.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/lib/scimath.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/sparse/extract.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/optimize/_minimize.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/sparse/csc.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/loader.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/__config__.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/sparse/csgraph/_components.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/special/spfun_stats.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/_lib/six.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/suite.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/_lib/_version.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/inspyred/ec/variators/variators.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/_pytest/_pluggy.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/_pytest/setupplan.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/optimize/slsqp.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/_lib/decorator.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/inspyred/swarm/swarm.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/_pytest/vendored_packages/pluggy.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/selector.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/inspyred/ec/ec.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/special/_ellip_harm.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/linalg/lapack.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/importer.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/py/_apipkg.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/core/getlimits.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/core/numerictypes.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/_lib/_threadsafety.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/compat/_inspect.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/pytest.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/special/lambertw.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/dual.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/sparse/linalg/isolve/lgmres.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/integrate/_bvp.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/linalg/decomp_qr.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/inspyred/ec/evaluators.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/optimize/_lsq/dogbox.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/optimize/lbfgsb.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/sparse/linalg/eigen/lobpcg/lobpcg.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/pyversion.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/linalg/decomp.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/inspyred/ec/replacers.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/inspyred/ec/selectors.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/optimize/_lsq/trf_linear.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/linalg/basic.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/inspyred/ec/variators/crossovers.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/plugins/testid.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/sparse/linalg/isolve/iterative.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/integrate/quadrature.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/lib/function_base.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/plugins/errorclass.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/_import_tools.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/_pytest/assertion/util.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/py/_code/_py2traceback.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/sparse/compressed.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/optimize/_lsq/least_squares.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/_pytest/_code/_py2traceback.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/sparse/linalg/eigen/arpack/arpack.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/core/records.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/optimize/_lsq/common.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/sparse/linalg/_expm_multiply.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/_pytest/_code/source.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/linalg/special_matrices.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/lib/format.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/optimize/_spectral.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/inspyred/ec/terminators.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/polynomial/legendre.py 
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/__init__.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/core/defchararray.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/core/numeric.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/lib/twodim_base.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/_pytest/config.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/__config__.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/special/_spherical_bessel.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/integrate/odepack.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/integrate/odepack.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/core/_methods.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/_pytest/assertion/__init__.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/scipy/linalg/_decomp_polar.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/proxy.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/compat/py3k.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/py/_xmlgen.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/nose/plugins/logcapture.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/numpy/lib/type_check.py
     /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/_pytest/compat.py
