language: python

python:
  - 2.7

install:
  - pip install --upgrade pip
  - pip install -r requirements.txt
  - pip install coverage
  - pip install pytest
  - pip install pytest-cov
  - pip install python-coveralls

script:
  - nosetests --with-coverage -v

after_success:
  - coveralls
